body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    max-width: 1300px; /* Adjusted container width */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select,
input[type="file"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #b99ab3;
    
}


#gret {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

#uimage {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Adjusted margin top */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.action-buttons button:hover {
    background-color: #45a049;
}
h1#title {
font-size: 36px;
margin: 0;
text-transform: uppercase;
letter-spacing: 2px;
background-color: #45a049;
color: white;
}
#book_d {
background-color:#77cd7c;
}